.categorytitle {
  color: var(--CL-blue, #214AEE);
  font-size: 34px;
  font-weight: 700;
  margin: 50px 0;
  text-align: center;
}

.totalQuan {
  margin-bottom: 30px;
  color: var(--text-importance-2, #888);
  font-size: 18px;
  font-weight: 400;
}