:root{
  /* color */
  --CL-blue: #214AEE;
  --CL-yellow: #FFEA7D;
  --point: #FF4A11;
  --text-default: #333333;
  --text-importance-1: #666666;
  --text-importance-2: #888888;
  --text-importance-3: #AAAAAA;
  --bg-gray-1: #D2D2D2;
  --bg-gray-2: #F0F0F0;
  --bg-white: #FFFFFF;
  --shadow-default: rgba(0, 0, 0, 0.15);
  --white-alter: #FEFEFE;

  /* border-radius */
  --radius-full: 100px;
  --radius-s: 0.3125rem;
  --radius-m: 0.625rem;

  /* font size */
  --font-size-34: 2.125rem;
  --font-size-26: 1.625rem;
  --font-size-24: 1.5rem;
  --font-size-22: 1.375rem;
  --font-size-20: 1.25rem;
  --font-size-18: 1.125rem;
  --font-size-16: 1rem;
  --font-size-14: 0.875rem;
  --font-size-12: 0.75rem;
}